*{
    box-sizing: border-box;
}

body{
    background-color: rgb(75, 75, 88);
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container{
    padding: 20px;
    height: 450px;
    width: 450px;
    position: relative;
}

.grafik{
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
}

.item{
    display: none;
}

#wrong-letters{
    position: absolute;
    top: 30px;
    right: 30px;
}

#word{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#popup-container{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: #3a3737;
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.61);
}

.letter{
    border-bottom: 6px solid gold;
    font-size: 55px;
    margin: 0 8px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#message{
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 80px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out;
}

#message.show{
    transform: translateY(-80px);
}